html {
  
  font-size: 16px;
}
* {
  font-family: sans-serif;
  background-color: white;  
  overflow: hidden;
  font-weight: bold;
  -webkit-text-stroke: 0.02rem #000;
}

h1,h2 {
  margin: 0;
  font-size: 1.55rem;

}

body {
  width: 100vw;
  margin: 0;
  display: flex;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem 0.4rem 0;
  gap: 1rem;
}

.library:not(:empty) {
  display: flex;
  flex-direction: column;
  border: 3px solid black;
  box-shadow: 3px 3px 0 0 #000 inset;
  width: 100%;
}

.library > *:nth-child(even) {
  background-color: lightgray;
}

.library > *:nth-child(odd) {
  background-color: white;
}

.book {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: transparent;
}

.book > p{
  margin: 0.5rem;
  background-color: transparent;
  -webkit-text-stroke: 0.02rem #000;
  font-size: 1rem;

}

.book > button{
  
    margin: 0.2rem 0.5rem;
  
}

.divider {
  width: 7rem;
  border: 1px solid black;
  margin: 1rem;
  box-sizing: content-box;
}

form {
  display: flex;
  flex-direction: column;
  width: 58%;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  
}

form * {
  display: flex;
  box-sizing: border-box;
}
form input {
  width: 100%;
}

.book button {
box-sizing: border-box;
}

form button {
  width: max-content;
  align-self: flex-end;
  margin:0.1rem;
}

button {
  box-shadow: 2px 2px 0 #000;
}

@media screen and (min-width: 768px) {
 html {
  font-size: 24px;
 } 
}


