html {
  font-size: 16px;
}

* {
  font-family: sans-serif;
  background-color: white;
  overflow: hidden;
  font-weight: bold;
  -webkit-text-stroke: 0.02rem #000;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-left: 10px;
  margin-right: 200px;
}

.content {
  width: 98%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.book-section {
  width: 98%;
  height: 6vh;
  display: flex;
  margin-top: 5px;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
  border: 3px solid black;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  height: 5vh;
  width: 35%;
}

.linkname1,
.linkname2,
.linkname3 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: inherit;
  width: inherit;
  margin: 0 5px;
  padding: 0 8px;
  font-weight: 700;
  cursor: pointer;
}

.linkname1,
.linkname2 {
  border-right: 2px solid black;
}
.library:not(:empty) {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  box-shadow: 3px 3px 0 0 #000 inset;
  width: 97%;
}

form * {
  display: flex;
  box-sizing: border-box;
}

.library > *:nth-child(even) {
  background-color: lightgray;
}

.library > *:nth-child(odd) {
  background-color: white;
}

.book {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: transparent;
}

.book > p {
  margin: 0.5rem;
  background-color: transparent;
  -webkit-text-stroke: 0.02rem #000;
  font-size: 1rem;
}

button {
  box-shadow: 2px 2px 0 #000;
}

form button {
  width: max-content;
  align-self: flex-end;
  margin: 0.1rem;
}

.book > button {
  margin: 0.2rem 0.5rem;
}

.divider {
  width: 7rem;
  margin: 1rem;
  box-sizing: content-box;
}

form {
  display: flex;
  flex-direction: column;
  width: 58%;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

form input {
  width: 70%;
  height: 20px;
}

.book button {
  box-sizing: border-box;
}

.contact {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  margin-bottom: 70px;
}

.contact-title {
  text-align: center;
  margin-bottom: 20px;
}

.contact p {
  font-weight: 700;
}

.contact ul {
  margin-top: 20px;
}

.contact ul li {
  list-style: disc;
  margin-left: 50px;
}

.footer {
  width: 98%;
  height: 4vh;
  border: 4px solid black;
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: antiquewhite;
}

.footer-title {
  margin-left: 30px;
}

@media screen and (min-width: 768px) {
  html {
    font-size: 24px;
  }
}
